
/**
 * Fieldsets
 */
fieldset {
  margin-bottom: 15px;
}
fieldset.titled legend {
  width: 100%;
}
fieldset.titled legend .fieldset-legend {
  display: block;
  padding: 5px 10px;
  border: 1px solid #d3d3d3;
  border-bottom: none;
  text-shadow: 1px 1px 1px #fff;
  background: url(../images/fieldset-top.png) left bottom repeat-x #f9f9f9;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
fieldset .fieldset-content {
  width: 100%;
}
fieldset .fieldset-content .fieldset-limiter {
  display: block !important;
  padding: 5px 10px 10px;
  border: 1px solid;
  border-color: #d3d3d3 #d3d3d3 #b3b3b3;
}
fieldset.titled .fieldset-content .fieldset-limiter  {
  border-top: none;
}

/**
 * Fieldsets collapsible
 */
fieldset.collapsible legend .fieldset-legend {
  padding: 0;
}
fieldset.collapsible legend .fieldset-legend a {
  display: block;
  padding: 5px 10px;
}
fieldset.collapsed legend .fieldset-legend {
  border-bottom: 1px solid #d3d3d3;
}

/**
 * Tables
 */
table thead {
  border-bottom: 1px solid #a0a0a0;
}
table th {
  vertical-align: bottom;
  text-align: left;
}
table th img {
  padding-left: 5px;
}
table tr.odd {
  background: #f7f7f7;
}
table th, table td {
  padding: 5px 10px;
}
table tr .form-item {
  margin-bottom: 0;
}
table td.active {
  background: #f7f7f7;
}
table tr.odd td.active {
  background: #ebebeb;
}
table td.module,
table tr.region-title {
  color: #fff;
  background: #a0a0a0;
}
.tabledrag-changed-warning {
  margin: 10px 0;
  padding: 5px 10px;
}

.field-formatter-settings-edit-form .formatter-name {
  
}
.field-formatter-settings-edit-form .form-item {
  margin: 5px 0;
}

/**
 * Form items
 */
.form-item {
  margin-bottom: 15px;
}
.views-exposed-widget label,
.form-item label {
  display: block;
  margin-bottom: 5px;
}
.form-item .form-item {
  margin-bottom: 5px;
}
select.form-select {
  padding: 3px;
  height: 30px;
}

input.form-text {
  padding: 3px;
}
textarea.form-textarea {
  padding: 3px;
}

/**
 * Buttons
 */
input.form-submit {
  margin-right: 5px;
  padding: 3px 10px;
  height: 30px;
  color:#333;
  border-width:1px;
  border-style:solid;
  border-color:#ddd #ddd #ccc;
  background:#fff url(../images/buttons.png) -1px 50% no-repeat;
}

/**
 * Hovers
 */
select.form-select:hover,
textarea:hover,
textarea:focus,
input:hover,
input:focus {
  border-color: #56a4c1;
  /*-webkit-box-shadow:#cecece 0px 0px 5px;*/
}

/**
 * Vertcal tabs
 */
.vertical-tabs {
  margin-bottom: 15px;
  border: 1px solid #d3d3d3;
  background: url(../images/vertical-tabs-bkg.png) left top repeat-y;
}
.vertical-tabs-panes {
  padding: 20px;
}
.vertical-tabs .vertical-tabs-list {
  width: 200px;
  background: #eee;
}
.vertical-tabs .vertical-tabs-list li:hover {
  background: #f8f8f8;
}
.vertical-tabs .vertical-tabs-list li.selected,
.vertical-tabs .vertical-tabs-list li.selected:hover {
  background: #fff;
}
.vertical-tabs .vertical-tabs-list li a {
  display: block;
  padding: 10px;
}
.vertical-tabs .vertical-tabs-list li a .summary {
  color: #000;
}
.vertical-tabs .vertical-tabs-list li a:hover {
  text-decoration: none;
}
div.vertical-tabs img {
  max-width: 100%;
}
div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset input.form-text {
  width: 99%;
}
.vertical-tabs-panes > .form-wrapper > .fieldset-content >.fieldset-limiter,
div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset {
  width: 100% !important;
  margin: 0 0 10px !important;
  padding: 0 !important;
  border: none !important;
  background: transparent;
}


/**
 * Edit filters
 */
fieldset#edit-filters .form-item {
  float: left;
  margin-right: 5px;
}
fieldset#edit-filters .form-submit {
  margin-top: 25px;
}
fieldset#edit-filters  ul.current-filters {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #e7e7e7;;
  background: #f6f6f6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
fieldset#edit-filters  ul.current-filters li {
  padding-left: 12px;
  background: url(../images/filter-list.png) left 50% no-repeat;
}


