
/**
 * Globals
 */
body {
  overflow-y: scroll;
  cursor: default;
}
.limiter {
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
a {
  color: #0072bc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/**
 * Header
 */
#branding {
  background: #555555;
}
#navigation {
  color: #c2c2c2;
  background: #7d7d7d;
}

/**
 * Breadcrumb
 */
#breadcrumb {
  color: #ccc;
  background: #666;
}
#breadcrumb .breadcrumb a {
  color: #ededed;
  line-height: 2.5em;
}

/**
 * Console
 */
#console {
  padding: 10px 0;
  background: url(../images/pattern-white.png) #313131;
}
#console .messages {
  margin: 5px 0;
  padding: 7px 10px;
  color: #fff;
  background: url(../images/pattern-white.png);
}
#console .messages a {
  color: #fff;
}
#console .messages.error {
  background-color: #9e0b0f;
  border: 1px solid #d51319;
}
#console .messages.status {
  background-color: #56a4c1;
  border: 1px solid #8fd0e8;
}
#console .messages.warning {
  background-color: #c69b07;
  border: 1px solid #c69b07;
}


/**
 * Page top
 */
#page-top {
  background: url(../images/page-top-bkg.jpg) #e8e8e8;
  border-bottom: 1px solid #d1d1d1;
}
#page-top .page-header {
  float: left;
  overflow: hidden;
  padding: 20px 0;
  line-height: 3.5em;
}
h1.page-title {
  margin-right: 20px;
  float: left;
  font-size: 1.8em;
}
ul.links.primary {
  position: absolute;
  right: 10px;
  bottom: 0;
}
ul.links.primary li a {
  padding: 10px;
  line-height: 0.7em;
}
ul.links.primary li a.active {
  margin-bottom: -2px;
  border: 1px solid #d1d1d1;
  border-bottom: none;
  background: #fff;
}

/**
 * Page
 */
#main-content {
  padding-top: 15px;
}

/**
 * Secondary links
 */
ul.links.secondary {
  margin-bottom: 15px;
  padding: 5px 5px 0;
  border-bottom: 1px solid #dbdbdb;
  background: #f4f4f4;
}
ul.links.secondary li a {
  padding: 5px 10px;
}
ul.links.secondary li a.active {
  margin-bottom: -2px;
  border: 1px solid #dbdbdb;
  border-bottom: none;
  background: #fff;
}

/**
 * Action links
 */
ul.links.actions {
  float: left;
  margin-top: 6px;
}
ul.links.actions li {
  margin-right: 10px;
  line-height: 2.5em;
}
ul.links.actions li a {
  padding-left: 25px;
  padding-right: 15px;
  border: 1px solid #dcdcdc;
  background: url(../images/action-link.png) 10px 50% no-repeat #f6f6f6;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
ul.links.actions li a:hover {
  text-decoration: none;
  background-color: #fff;
}

/**
 * Admin list
 */
#content .admin .left,
#content .admin .right {
  float: left;
  width: 50%;
}
#content .admin .left .admin-panel {
  margin-right: 5px;
}
#content .admin .right .admin-panel {
  margin-left: 5px;
}
.admin-panel {
  margin-bottom: 10px;
  border: 1px solid;
  border-color: #d3d3d3 #d3d3d3 #b3b3b3;
}
.admin-panel h3 {
  padding: 5px 10px;
  font-weight: normal;
  background: url(../images/fieldset-top.png) left bottom repeat-x #f9f9f9;
}
.admin-panel .body {
  padding: 0 10px;
}
ul.admin-list li {
  overflow: hidden;
  margin: 10px 0;
}
ul.admin-list li .description {
  padding-left: 52px;
  line-height: 1.5em;
}

/**
 * Theme list
 */
.system-themes-list {
  margin: 0 -10px;
}
.system-themes-list h2 {
  margin-bottom: 10px;
}
.system-themes-list-enabled h2 {
  margin: 0 10px 10px;
}
.system-themes-list-enabled .theme-selector {
  float: left;
  width: 300px;
  margin: 0 10px;
}
.system-themes-list-enabled .theme-selector img {
  width: 100%;
}
.system-themes-list-disabled {
  padding: 10px;
  color: #aaaaaa;
}
.system-themes-list-disabled .theme-selector {
  padding: 10px 10px 0;
  background: #f6f6f6;
}
.system-themes-list-disabled .theme-selector img {
  float: left;
  width: 210px;
}
.system-themes-list-disabled .theme-selector h3,
.system-themes-list-disabled .theme-selector .theme-description,
.system-themes-list-disabled .theme-selector .operations {
  padding-left: 220px;
}

/**
 * Overlay
 */
#overlay {
  width: 50%;
}
#overlay-content {
  padding: 20px;
  min-width: 740px;
}
#overlay-content .limiter {
  width: auto;
  padding: 0;
}
#overlay-content #console .limiter {
  padding: 0 10px;
}
#overlay-content #page-top {
  display: none;
}
#overlay-content #breadcrumb {
  color: #333;
  background: transparent;
}
#overlay-content #breadcrumb a {
  color: #333;
}

#overlay-tabs li a,
#overlay-tabs li a:hover {
  color: #0072bc;
  font-weight: normal;
  text-transform: none;
  -moz-border-radius: 0;
  border-radius: 0;
  border-radius: 0;
}

/**
 * Icons
 */
h1.page-title span.icon {
  /*display: block;
  float: left;
  margin-top: 4px;
  margin-right: 5px;
  width: 36px;
  height: 36px;
  background-position: 50% 50%;
  background-repeat: no-repeat;*/
}
ul.admin-list li a span.icon {
  display: block;
  float: left;
  margin-right: 10px;
  width: 42px;
  height: 42px;
  border: 1px solid #ebebeb;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #f9f9f9;
}

span.icon { background-image: url(../images/icons/grey/Cog%205.png); }

.path-admin-appearance span.icon  { background-image: url(../images/icons/grey/Big%20Brush.png); }
.path-admin-modules span.icon { background-image: url(../images/icons/grey/Electricity%20Input%20w_%20Plug.png); }
.path-admin-config span.icon { background-image: url(../images/icons/grey/Settings.png); }
.path-admin-help span.icon,
.path-admin-advanced_help span.icon { background-image: url(../images/icons/grey/Help.png); }

/* Structure */
.path-admin-structure span.icon,
.path-admin-structure-views span.icon { background-image: url(../images/icons/grey/List%20w_%20Images.png); }
.path-admin-structure-block span.icon { background-image: url(../images/icons/grey/Frames.png); }
.path-admin-structure-empty-page span.icon { background-image: url(../images/icons/grey/Document.png); }
.path-admin-structure-types span.icon { background-image: url(../images/icons/grey/Text%20Documents.png); }
.path-admin-structure-menu span.icon { background-image: url(../images/icons/grey/List.png); }
.path-admin-structure-taxonomy span.icon { background-image: url(../images/icons/grey/Tags%202.png); }
/* Reports */
.path-admin-reports span.icon { background-image: url(../images/icons/grey/Table.png); }
.path-admin-reports-status span.icon { background-image: url(../images/icons/grey/Clipboard.png); }
/* People */
.path-admin-people span.icon,
.path-admin-config-people span.icon { background-image: url(../images/icons/grey/Users.png); }
.path-admin-config-people-ip-blocking span.icon { background-image: url(../images/icons/grey/Acces%20Denied%20Sign.png); }
/* Content */
.page-admin-content span.icon,
.path-admin-content span.icon,
.path-admin-config-content span.icon { background-image: url(../images/icons/grey/Create%20_%20Write.png); }
.path-admin-config-content-linkit span.icon { background-image: url(../images/icons/grey/Link.png); }
.path-admin-config-content-formats span.icon { background-image: url(../images/icons/grey/Keyboard.png); }
.path-admin-config-content-wysiwyg span.icon { background-image: url(../images/icons/grey/Text%20Styling.png); }
/* Search & metadata */
.path-admin-config-search-settings span.icon { background-image: url(../images/icons/grey/Magnifying%20Glass.png); }
.path-admin-config-search-path span.icon { background-image: url(../images/icons/grey/Sign%20Post.png); }
/* Media */
.path-admin-config-media span.icon { background-image: url(../images/icons/grey/Images.png); }
.path-admin-config-media-file-system span.icon { background-image: url(../images/icons/grey/File%20Cabinet.png); }
.path-admin-config-media-image-styles span.icon { background-image: url(../images/icons/grey/Ruler.png); }
.path-admin-config-media-colorbox span.icon { background-image: url(../images/icons/grey/Image%202.png); }
.path-admin-config-media-elfinder span.icon { background-image: url(../images/icons/grey/Folder.png); }
/* Language */
.path-admin-config-regional-settings span.icon { background-image: url(../images/icons/grey/Globe.png); }
.path-admin-config-regional-date-time span.icon { background-image: url(../images/icons/grey/Month%20Calendar.png); }
.path-admin-config-regional-language span.icon { background-image: url(../images/icons/grey/Flag%202.png); }
/* Site information */
.path-admin-config-system-site-information span.icon { background-image: url(../images/icons/grey/Info%20_%20About.png); }
.path-admin-config-system-actions span.icon { background-image: url(../images/icons/grey/Strategy%202.png); }
.path-admin-config-services-rss-publishing span.icon { background-image: url(../images/icons/grey/RSS.png); }

/* Interface */
.path-admin-config-user-interface-browserclass span.icon { background-image: url(../images/icons/grey/Chrome.png); }
.path-admin-config-user-interface-shortcut span.icon { background-image: url(../images/icons/grey/Bended%20Arrow%20Left.png); }
/* Development */
.path-admin-config-development span.icon { background-image: url(../images/icons/grey/Alert.png); }
.path-admin-config-development-performance span.icon { background-image: url(../images/icons/grey/Power.png); }
.path-admin-config-development-logging span.icon { background-image: url(../images/icons/grey/Table.png); }
.path-admin-config-development-maintenance span.icon { background-image: url(../images/icons/grey/Under%20Construction.png); }



